body {
    background-image: url(anon-Картинка-2191131\ \(1\).jpeg) ;
background-repeat: no-repeat; 
background-position: center;
  }
.autors {
    position: absolute;
    
    top: 65%;
    left: 60%;   

}
.button {
position: absolute ;  
top: 75%;
left: 35%;


    text-decoration: none;
    float: left;
    padding: 12px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;}
  
  .button:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
  }

.text{
    position: absolute;
    display: block;
    top: 27%;
    left: 45%;   
}


.logo {
    margin: 20px 20px;
    height: 25px;
    justify-content: lefts;
}

.year {
    height: 15px;  
    justify-content: center;
}

.ghlogo {
    margin: 20px 20px;
    height: 25px;   
}
.footer {
 
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40%}